.mdb-poster__view {
  position: relative;
  width: 160px;
  height: 240px;
  margin: 0 0 40px 40px;
  border-radius: 1rem;
  box-shadow:
  inset rgb(0, 0, 0) 0 -3px 8px,
  inset rgba(252, 255, 255, 0.164) 0 3px 8px,
  rgba(0,0,0,.8) 0 3px 8px -3px;
}

.mdb-poster__view--selected {
  border: 1px solid #2ECC71;
}

.mdb-poster__buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  visibility: hidden;
  .mdb-poster__button {
    height: 25px;
    margin: 5px 5px 2px 8px;
    font-size: 1.8rem;
    cursor: pointer;
    color: #FD394B;
  }
  .mdb-poster__button--save {
    color: #71C71A;
  }
}

.mdb-poster__buttons:hover {
  border-radius: 1rem;
  background: #14728C;
  opacity: 0.6;
}

.mdb-poster__view:hover {
  .mdb-poster__buttons {
    visibility: visible;
  }
}

.mdb-poster__info {
width: 200px; 
padding: 7px 10px; 
margin-top: 25px; 
opacity: 1; 
visibility: hidden; 
z-index: 10; 
position: absolute; 
display: none; 
margin-left: -200px;
}

.fa-info:hover span {
  color: #000000; 
  border: 1px solid #000000; 
  background: rgb(124, 77, 80);
  display: inline; 
  font-size: 0.6em;
  font-weight: bold;
  color: white;
}

.fa-info:hover > span {
  opacity: 1;
  visibility: visible;
  overflow: visible;
}