.mdb-details__view {
  width: 100%;
  
}

.mdb-details__wrapper {
  color: gray;
  margin: 40px 0 0 330px;
}

.mdb-details__backdrop {
  width: 225px;
  height: 337px;
}

.mdb-details__movie-info {
  display: inline-block;
  margin-left: 5px;
}

.mdb-details__overview {
  width: 800px;
  height: 300px;
  overflow-y: auto;
}

.mdb-recommended__movies {
  display: flex;
  width: 90%;
  height: 150px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.mdb-details__recommended-title {
  margin-top: 15px;
}