.mdb-genres__list {
    display: flex;
    flex-flow: column wrap;
    width: 400px;
    font-size: 0.6em;
    color: gray;
    border: 2px solid gray;
    border-radius: 5px;
    height: 150px;
    /* padding: 0 0 0 20px; */
    list-style: none;
}

.mdb-genres__item {
    padding-top: 10px;
}

.mdb-genres__check-area {
    margin-right: 5px;
}
