.mdb-sidebar__wrapper {
    background: #353743;
    width: 300px;
    height: 100vh;
    transition: 0.2s ease-out;
    position: fixed;
}

.mdb-sidebar__wrapper--close {
    width: 60px;
}

.mdb-sidebar__toggle { 
    cursor: pointer;
    color: white;
    height: 50px;
    margin:20px 0 0 20px;
}

.fa-bars {
    font-size: 1.7em;
}

.mdb-sidebar__links {
    display: block;
    height: 30px;
    color: white;
    margin: 30px 0 0 20px;
    text-decoration: none;
    font-size: 20px;
}

.mdb-sidebar__link-to {
    margin-left: 40px;
    transition: 0.1s ease-out;
}

.hide-items {
    display: none;
}

.mdb-sidebar__navigation {
    margin: 30px 0 0 0;
}


.mdb-sidebar__logo {
    position: absolute;
    top: 15px;
    font-size: 2.2em;
    margin-left: 15px;
    text-align: center;
}

.mdb-sidebar__logo-title {
    margin: 0 0 0 10px;
    font-size: 2rem;
    color: gray;
}

.active-link {
    color: #037DBB;
}
