.mdb-movies__search {
    position: relative;
    height: 50px;
}

.mdb-movies__search-input {
    height: 26px;
}

.mdb-form__search-button {
    width: 28px;
    height: 26px;
    cursor: pointer;
}