.mdb-movies__search {
  position: relative;
  height: 5rem;
  width: 20rem;
  height: 2.6rem;;
  .mdb-form__search-button {
    width: 2.8rem;
    height: 2.6rem;
    position: absolute;
    cursor: pointer;
    right: 0rem;
    top: 0rem;
  }
}

.mdb-movies__search-input {
  width: 20rem;
  height: 2.6rem;
}