@font-face {
    font-family: Bradley;
    src: url('./assets/font/bradhitc.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: Bradley;
    font-weight: bold;
}

.mdb-container__main {
    display: flex;
    flex-flow: row wrap;
    background-color: #262126;
    min-height: 100vh;
    width: 100%;
}

