@font-face {
    font-family: Indie Flower;
    src: url('./assets/font/IndieFlower.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Indie Flower;
}

.mdb-container__main {
    display: flex;
    flex-flow: row wrap;
    background-color: #262126;
    min-height: 100vh;
    width: 100%;
}

