.mdb-movies__wrapper {
    margin-left: 360px;
    transition: 0.2s ease-out;
}

.mdb-movies__inner {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    margin-top: 20px;
    background-color: #262126;
}

.mdb-movies__wrapper--wider {
    margin-left: 100px;
}

.mdb-movies__search {
    margin: 15px 0 0 0;
}

.mdb-container-movies__poster {
    margin: 10px 0 0 15px;
}

@media screen and (min-width: 1920px) {
    .mdb-movies__inner {
        margin-right: 5px;
    }
}

/* .mdb-container-movies__title:hover {
    background-color: #14728C;
    opacity: 0.5;
} */
