@font-face {
    font-family: 'Times New Roman', Times, serif;
    src: url();
}

.mdb-movies__wrapper {
    margin-left: 360px;
    transition: 0.2s ease-out;
}

.mdb-movies__inner {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    margin-top: 20px;
}

.mdb-movies__wrapper--wider {
    margin-left: 100px;
}

.mdb-movies__search {
    margin: 15px 0 0 0;
}

@media screen and (min-width: 1920px) {
    .mdb-movies__inner {
        margin-right: 5px;
    }
}

.mdb-movies__title {
    position: absolute;
    top: 130px;
    left: 30px;
    color: rgb(184, 184, 184);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}