.mdb-container-form__button {
    height: 35px;
    margin: 15px 0 0 15px;
    border: 1.5px solid gray;
    color: rgb(58, 56, 56);
    cursor: pointer;
}

.mdb-container-form__button--add {
    width: 150px;
    background-color: #3F995A;
}

.mdb-container-form__button--cancel {
    width: 120px;
    background-color: red;
}